@font-face {
  font-family: 'league_spartanbold';
  src: url('./fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
       url('./fonts/leaguespartan-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'league_spartanbold';
  background-image: url('./images/blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo h1{
  font-size: 4rem;
  color: yellow;
}

nav{
  flex: 1;
  padding-left: 50px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}