body {
  font-family: 'league_spartanbold';
  /* background-image: url('./images/blue.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Visible Frame */

.boxContainer{
  width: 350px;
  min-height: 830px;
  display: flex;
  flex-direction: column;
  border: solid (241,196,15);
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
}

.topContainer{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 5em;
}

.yellowBackDrop{
  width: 160%;
  min-height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  transform: rotate(60deg);
  top: -300px;
  left: -120px;
  background: rgb(241,196,15);
  background: linear-gradient(
    58deg,
    rgba(241,196,15,1) 20%,
    rgba(243,172,18,1) 100%
  );
  margin: 1px;
}

.welcomeHeader{
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: rotate(0deg);
  color: white;
}

.welcomeHeaderText{
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 1.24;
  color: #fff;
  z-index: 10;
  margin: 0;
}

.welcomeHeaderText#headerSpan{
  font-size: 45px;
}

.userLoggedIn{
  display:inline-block
}
/* Content */

.common{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* Content: Login */

.login{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form#loginName{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.loginNameContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttondiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button#loginSubmit{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.yogi{
  width: 150px;
  margin-top: 10px;
  animation: mymove 2s ease-in-out 0s infinite alternate;
}

.yogibox{
  position: relative;
}

.loginform{
  position: fixed;
  top: 600px;
  display: flex;
  flex-direction: column;
}

@keyframes mymove {
  0% {
    width: 150px;
  }
  100% {
    width: 170px;
  }
}

/* Content: Calendar */
.calendar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calendarDay{
 background-color: red;
}

.quotebox{
  border: 0.5px solid lightgrey;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* width: 100%; */
  margin: 20px 20px 0px 20px;
  position: absolute;
  box-shadow: -1px 2px 2px 1px lightgrey;
  top: 580px;
}

.quoteboxie{
  border: 0.5px solid lightgrey;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* width: 100%; */
  margin: 20px 20px 0px 20px;
  box-shadow: -1px 2px 2px 1px lightgrey;
  top: 580px;
}

.quote{
  margin: 4px;
}

/* Content: Form */
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5px;
}

.form input{
  width: 80%;
  height: 42px;
  outline: none;
  border-radius: 100px 100px 100px 100px;
  border: 0.5px solid rgba(200,200,200, 0.0.3);
  padding: 0px 10px;
  /* margin-left: 20px; */
}

.form input:focus{
  outline: none;
  /* border-bottom: rgb(241,196,15); */
}

.form input[type=range]{
  -webkit-appearance: none;
    width: 100px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.form input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(237,137,74);
    margin-top: -4px;
}

.form input[type=range]:focus {
    outline: none;
}

.form input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


.form .button{
  width: 90%;
  padding: 11px 40%;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  transition: all, 240ms ease-in-out;
  background: rgb(241,196,15);
  background: linear-gradient(
    58deg,
    rgba(241,196,15,1) 20%,
    rgba(243,172,18,1) 100%
  );
}

.form .button:hover{
  filter: brightness(1.03);
  animation: mismove 2s ease-in-out 0s infinite alternate;
  transform-origin: 50% 50%;
}

@keyframes mismove {
  0%   { transform: scale(1)}
  50%  { transform: scale(0.8)}
  100%  { transform: scale(1)}
}

.placeholder {
  color: rgb(131, 131, 131);
}
/* Content: Analysis */

.analysis{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analysis h4{
  text-align: center;
  margin: auto;
}

/* Footer Navigation */
.navsection{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.logo h1{
  font-size: 4rem;
  color: yellow;
}

nav{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 10px 0px 0px 0px;
  border-top: 0.5px solid rgb(241,196,15, 0.5);
  background-color: rgb(241,196,15);
  background: linear-gradient(
    58deg,
    rgba(241,196,15,1) 20%,
    rgba(243,172,18,1) 100%
  );
  padding-bottom: 5px;
}

nav .icon {
  background-color: rgb(241,196,15);
  background: linear-gradient(
    58deg,
    rgba(241,196,15,1) 20%,
    rgba(243,172,18,1) 100%
  );
  color: #fff;
  border-radius: 50%;
  margin-top: 10px;
  padding: 1px;
}

nav .iconc {
  background-color: rgb(241,196,15);
  background: linear-gradient(
    58deg,
    rgba(241,196,15,1) 20%,
    rgba(243,172,18,1) 100%
  );
  color: #fff;
  border-radius: 50%;
  margin-top: 10px;
  padding: 2px;
}

nav .icon:hover, nav .iconc:hover{
  animation: myframe 2s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes myframe {
  0%   { transform: scale(1) }
  100% { transform: scale(2) rotate(360deg); }
}