@font-face {
  font-family: 'league_spartanbold';
  src: url('./fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
       url('./fonts/leaguespartan-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
  
* {
  box-sizing: border-box;
}
  
  body {
  margin: 0;
  font-family: 'league_spartanbold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fceeb6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  .AppContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }

  
  .yellowBackDrop#back{
    width: 480px;
    height: 480px;
    position: absolute;
    display: flex;
    border-radius: 50%;
    transform: rotate(110deg);
    top: -120px;
    left: 450px;
    background: rgba(241,196,15, 0.6);
    background: linear-gradient(
      58deg,
      rgba(241,196,15,0.6) 20%,
      rgba(243,172,18,0.6) 100%
    );
    margin: 1px;
  }
  .yellowBackDrop#left{
    width: 1000px;
    height: 1000px;
    position: absolute;
    display: flex;
    border-radius: 50%;
    transform: rotate(67deg);
    top: 700px;
    left: -300px;
    background: rgba(241,196,15, 0.6);
    background: linear-gradient(
      58deg,
      rgba(241,196,15,0.6) 20%,
      rgba(243,172,18,0.6) 100%
    );
    margin: 1px;
  }
  .yellowBackDrop#right{
    width: 800px;
    height: 800px;
    position: absolute;
    display: flex;
    border-radius: 50%;
    transform: rotate(67deg);
    top: 500px;
    left: 1200px;
    background: rgba(241,196,15, 0.6);
    background: linear-gradient(
      58deg,
      rgba(241,196,15,0.6) 20%,
      rgba(243,172,18,0.6) 100%
    );
    margin: 1px;
  }